# Archivos compilados de Go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Carpetas de datos de Docker
postgres_data/
docker-compose.override.yml

# Archivos de entorno (donde pondremos las contraseñas después)
.env

# Carpetas del sistema operativo
.DS_Store